<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Home","Home","Main")
        @Html.ActionLink("About","About","Main")
        @Html.ActionLink("Carrer","Carrer","Main")

    </div>
    <section>
           
            @RenderBody()
    
    </section>
</body>
</html>
